* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lexend", sans-serif;
}

/* NAV */

.logoHeader {
  width: 40%;
  border-radius: 50%;
}

ul li .nav-link {
  padding: 15px;
  margin: 0 20px 0 20px;
}

.nav-link:hover {
  width: 100%;
}

.navbar-collapse .nav-item {
  width: max-content;
}

.navbar-collapse .nav-item:hover {
  background-color: #bf8845;
  border-radius: 100px;
}
/* MAIN */

#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

main img {
  width: 100%;
  height: 100%;
}

/* PRODUTOS */

.bebidas {
  display: flex;
  border: #bf8845 2px solid;
  padding: 10px;
  margin: 5px;
}

.bebidas img {
  width: 50%;
}

.bebidas .infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bebidas .infos select {
  width: fit-content;
  margin: 5px;
}

.carrinho {
  border: #13261f 2px solid;
  width: 100%;
  padding: 15px;
  margin: 5px;
}

.carrinho p {
  width: 100%;
  align-items: center;
  margin: 10px;
}
/* SECTION PAGINA INICIAL */

section .pag-inicial {
  background-color: #13261f;
}

section #sobre {
  padding: 100px 50px 50px 50px;

  font-size: small;
  line-height: 1.5;
  text-align: justify;

  color: #bf8845;
}

section #sobre img {
  width: 100%;
}

/* FUNCIONARIO */

/* FOOTER */

footer {
  background-color: #a6823f;
}

footer img {
  width: 35px;
}

footer #logo {
  width: auto;
}

footer a {
  text-decoration: none;
  color: #13261f;

  padding: 10px;
}

footer a:hover {
  color: whitesmoke;
  background-color: #13261f;
  border-radius: 100px;
  text-decoration: none;
}
